<a href="https://colab.research.google.com/github/lprs110/dataset-analysis/blob/master/tripadvisor_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json('http://tiagodemelo.info/datasets/dataset-v2.dat', lines=True)

In [3]:
df.head()

                                  title  ...                                       itemReviewed
0                               Jantar   ...  {'name': 'Imperador dos Camarões', 'address': ...
1                  Uma boa experiência.  ...  {'name': 'Guacamole Natal', 'address': {'stree...
2                    Otimo self service  ...  {'name': 'Chica Pitanga', 'address': {'streetA...
3  O sorvete mais tradicional do estado  ...  {'name': 'Sorvetes Vi Sabor', 'address': {'str...
4                     Melhor hamburger!  ...  {'name': 'Z Deli Sandwich Shop', 'address': {'...

[5 rows x 12 columns]

In [4]:
df.columns

Index(['title', 'reviewId', 'restaurantId', 'author', 'reviewBody', 'language',
       'mobileDevice', 'userLocation', 'publicationDate', 'visitDate',
       'ratingValue', 'itemReviewed'],
      dtype='object')